html {
    height: 100%;
    margin: 0;
}


body {
    background-image: url(img/Diseño\ onboard\ final\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; 
}


.contenedor_lista {
    width: 350px;
    height: 400px;
    background: rgba(128, 128, 128, 0.514);
    position: relative;
    top: 60px;
    left: 800px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.contenedor_lista h2 {
    text-align: center;
    font-size: 30px;
}


.contenedor_lista h3 {
    margin-left: 20px;

}

.contenedor_botones {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 130px;
    left: 1040px;
}

.contenedor_botones button {
    width: 50px;
    height: 20px;
    border-radius: 10px;
    margin-top: 43px;
    background: rgba(95, 90, 90, 0.486);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}
.navbar {
    width: 40%;
    height: 50px;
    border-radius: 25px;
    padding: 0.7% 0;
    background: linear-gradient(to right, #8c52ff, #5ce1e6);
    position: fixed;
    top: 80%;
    left: 29%;
}
.navbar img{
    padding-top: 1%;
    padding-bottom: 2%;
    margin-left: 2%;
    width: 10%;
    position: absolute;
    top: 5px;
}
.nav_bar {
    list-style-type: none;
     display: flex;
     gap: 200px;
     align-items: center;
}
.contenedor_logo img{
    position: absolute;
    top: 60px;
    left: 270px;
    width: 150px;
    height: 130px;

}


.contenedor_seleccion {
    position: absolute;
    top: 240px;
    left: 250px;
    background: rgba(128, 128, 128, 0.623);
    width: 180px;
    height: 50px;
    border-radius: 15px;    
}


.contenedor_seleccion summary {
    text-align: center;
    font-size: 30px;
    color: white;
}


.contenedor_seleccion1 {
    position: absolute;
    top: 350px;
    left: 250px;
    background: rgba(128, 128, 128, 0.623);
    width: 180px;
    height: 50px;
    border-radius: 15px;  
    color: white;
}

.contenedor_seleccion1 summary {
    text-align: center;
    font-size: 30px;
}
.contenedor_seleccion p {
    color: white;
}
li{
    color: white;
}
